*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fullmainDiv h1{
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.fourImages{
    display: grid;
    grid-template-columns: auto auto auto auto;

padding: 20px 30px;
grid-gap: 25px;
}

.oneImage img{
    width: 100%;
    height: 200px;
}

/* box main  div  */

.mainDiv{
    position: relative;
    width: 90%;
    left: 45px;
   
   height: 400px;
    
    padding: 20px 0;
    

}

.innerImagesDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.innerImagesDiv.active{
    z-index: 40;
}
.innerImagesDiv  img{
    width: 100%;
    height: 100%;
;
}

.boxMainDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    display: none;
}

.crossDiv{
    padding: 10px 30px;
    text-align: right;
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;

}
.crossDiv p{
    display: inline;
    cursor: pointer;
}


.mainDiv .next{
    position: absolute;
    top: 45%;
    right: 10px;
    z-index: 999;
    color: white;
    font-size: 30px;
    cursor: pointer;

}

.mainDiv .previous{
    position: absolute;
    top: 45%;
    left: 10px;
    z-index: 999;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.counting{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    color: white;
    font-size: 30px;
}
/* Dots Image Section  */


.dotsImagesDiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.dotsImagesDiv .dotInner{
    opacity: 0.1;
}
.dotsImagesDiv .dotInner.active{
    opacity: 1;
}
.dotsImagesDiv .dotInner img{
    width: 100%;
    height: 150px;
}

